.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.route_table{
  padding: 50px;
}
.route_table th{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.route_table td{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
span{
  color: red;
}
