<div class="route">
    <div>
        <form class="searchFilter">
            <div class="inputFields">

                <mat-form-field class="departInput" appearance="fill">
                    <mat-label>Departure Airport</mat-label>
                    <input type="text"
                           placeholder="Pick one"
                           aria-label="Number"
                           matInput
                           [formControl]="departureControl"
                           [matAutocomplete]="auto1" #departure_Airport>
                    <mat-error *ngIf="departureControl.invalid">Invalid input</mat-error>
                    <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                        <mat-option *ngFor="let departureAirport of filteredDepartureAirport"
                                    [value]="departureAirport.airport_name">
                            {{departureAirport.airport_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>flight_takeoff</mat-icon>
                </mat-form-field>


                <mat-form-field class="arriveInput" appearance="fill">
                    <mat-label>Arrival Airport</mat-label>
                    <input type="text"
                           placeholder="Pick one"
                           aria-label="Number"
                           matInput
                           [formControl]="arrivalControl"
                           [matAutocomplete]="auto2" #arrival_Airport>
                    <mat-error *ngIf="arrivalControl.invalid">Invalid input</mat-error>
                    <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">
                        <mat-option *ngFor="let arrivalAirport of filteredArrivalAirport"
                                    [value]="arrivalAirport.airport_name">
                            {{arrivalAirport.airport_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>flight_land</mat-icon>
                </mat-form-field>
            </div>

            <div class="searchBtn">
                <div class="search">
                    <button mat-raised-button class="buttons" (click)="search()"
                            [disabled]="arrivalControl.invalid || departureControl.invalid || !arrivalControl.dirty && !departureControl.dirty">
                        <mat-icon>search</mat-icon>
                        Search route
                    </button>

                </div>
                <div class="clear">
                    <button mat-raised-button class="buttons"
                            [disabled]="!arrivalControl.dirty && !departureControl.dirty"
                            (click)="clearSearch()">
                        <mat-icon>clear</mat-icon>
                        Clear search
                    </button>
                </div>
            </div>
            <span class="space"></span>
            <div class="addRoute">
                <a mat-raised-button class="buttons" (click)="openForm('create',-1)">
                    <mat-icon>add</mat-icon>
                    Add route
                </a>
            </div>
        </form>
        <h4 style="color: red">{{errorMessage}}</h4>
    </div>
    <div class="route_table" *ngIf="routeDetails.length!=0">
        <table class="route_table">

            <tr>
                <th *ngFor="let heading of routeTableHeading "> {{heading}}</th>
            </tr>


            <tr *ngFor="let route of routeDetails">
                <td>{{getAirportNameByAirportCode(route.departureAirport)}}</td>
                <td>{{getAirportNameByAirportCode(route.arrivalAirport)}}</td>
                <td>{{route.mileage}}</td>
                <td>{{route.duration}}</td>
                <td>
                    <div class="btn-edit">
                        <button mat-button (click)="openForm('update',route.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </div>
                </td>
                <td>
                    <div class="btn-delete">
                        <button mat-button (click)="removeRow(route.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </tr>

        </table>
    </div>

</div>
