.flight{
  width: 100%;
  align: "center";
  padding: 20px;
}
/*form*/
.searchFilter {
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.searchBtn{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.departInput, .arriveInput{
  padding-right: 20px;
  width: 25%;
  min-width: 180px;
  max-width: 300px;
}

th{
  height: 50px;
  color: darkblue;
}

.full-width {
  width: 100%;
}

.flight_table{
  width: 100%;
}

.addFlight{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
