.searchFilter {
  min-width: 150px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.flight{
  width: 75%;
  align: "center";
  padding: 20px;
}

.addFlight{
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
