<div class="flight">
  <div class="flight_search">
    <form class="searchFilter">
      <div class="inputFields">
        <mat-form-field class="departInput" appearance="fill">
          <mat-label>Departure Airport</mat-label>
          <input type="text"
                 aria-label="Departure Airport"
                 placeholder="Pick Airport"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto"

                 #departure>

          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let depart of filteredAirports | async" [value]="depart">
              {{depart}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>flight_takeoff</mat-icon>
        </mat-form-field>

        <mat-form-field class="arriveInput">
          <mat-label>Arrival Airport</mat-label>
          <input type="text"
                 id="arrive"
                 name="arrive"
                 aria-label="Arrival Airport"
                 placeholder="Pick Airport"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="autoTest"
                 #arrive>
          <mat-autocomplete autoActiveFirstOption #autoTest="matAutocomplete">
            <mat-option *ngFor="let arrives of filteredAirports | async" [value]="arrives">
              {{arrives}}
            </mat-option>
          </mat-autocomplete>
          <mat-icon matSuffix>flight_land</mat-icon>
        </mat-form-field>
      </div>
<span class="space"></span>
      <div class="searchBtn">
        <div class="search">
          <button mat-raised-button class="buttons"
                  (click)="filter(departure.value, arrive.value)">
            <mat-icon>search</mat-icon>
            Search flight
          </button>
        </div>

        <div class="clear">
          <button mat-raised-button class="buttons"
                  (click)="filter('', ''); departure.value=''; arrive.value=''">
            <mat-icon>clear</mat-icon>
            Clear Search
          </button>
        </div>

      </div>
    </form>
  </div>
  <div class="flight_table">
    <table class="flight_table">
      <tr>
        <th *ngFor="let col of columnsSchema">
          {{col.label}}
        </th>
      </tr>
      <div *ngIf="dataSource.length==0" class="noFlights">
        <h4>Sorry, no flights available from {{departure.value}} to {{arrive.value}}</h4>
      </div>
      <tr *ngFor="let row of dataSource">
        <td *ngFor="let col of columnsSchema">
          {{ row[col.key] }}
          <div class="btn-edit" *ngIf="col.key === 'isEdit'">
            <button mat-button (click)="openForm(row.id)"><mat-icon>edit</mat-icon></button>
          </div>
          <div class="btn-delete" *ngIf="col.key === 'isDelete'">
            <button mat-button (click)="removeRow(row.id)"><mat-icon>delete</mat-icon></button>
          </div>
      </tr>
    </table>
  </div>
  <div class="addFlight">
    <a mat-raised-button class="buttons" (click)="openForm(-1)">
      <mat-icon>add</mat-icon>
      Add flight
    </a>
  </div>

</div>
