<div class="scheduleFLights">
    <h1>Schedule flights</h1>
    <form [formGroup]="scheduleForm">
        <div>
            <div class="searchFields">
                <mat-form-field class="departureAirport">
                    <mat-label>Departure Airport</mat-label>
                    <input type="text"
                           placeholder="Pick Airport"
                           value=""
                           matInput
                           [formControl]="scheduleForm.controls['departureAirport']"
                           [matAutocomplete]="departures">
                    <mat-error *ngIf="scheduleForm.controls['departureAirport'].invalid">Invalid input</mat-error>
                    <mat-autocomplete autoActiveFirstOption #departures="matAutocomplete">
                        <mat-option *ngFor="let depart of filteredDepartures" [value]="depart.airport_name">
                            {{depart.airport_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>flight_takeoff</mat-icon>
                </mat-form-field>
                <span class="space"></span>
                <mat-form-field class="arrivalAirport">
                    <mat-label>Arrival Airport</mat-label>
                    <input type="text"
                           placeholder="Pick Airport"
                           value=""
                           matInput
                           [formControl]="scheduleForm.controls['arrivalAirport']"
                           [matAutocomplete]="arrivals"
                    >
                    <mat-error *ngIf="scheduleForm.controls['arrivalAirport'].invalid">Invalid input</mat-error>
                    <mat-autocomplete autoActiveFirstOption #arrivals="matAutocomplete">
                        <mat-option *ngFor="let arrives of filteredArrivals" [value]="arrives.airport_name">
                            {{arrives.airport_name}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-icon matSuffix>flight_land</mat-icon>
                </mat-form-field>
                <div class="error_msg">
                    <small *ngIf="scheduleForm.errors?.['equalDestination']  && scheduleForm.get('arrivalAirport')?.touched">
                        Departure and Arrival cannot be the same
                    </small>
                </div>
                <br>

                <mat-form-field class="flightNo">
                    <mat-label>Flight Number</mat-label>
                    <input type="text"
                           placeholder="Enter flight number"
                           value=""
                           matInput
                           [formControl]="scheduleForm.controls['flightNo']">
                    <mat-error *ngIf="scheduleForm.controls['flightNo'].invalid">Use format XX1234</mat-error>
                    <mat-icon matSuffix>flight</mat-icon>
                </mat-form-field>
                <br>
                <mat-form-field class="duration">
                    <mat-label>Duration</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date"
                               [formControl]="scheduleForm.controls['startDate']">
                        <input matEndDate placeholder="End date"
                               [formControl]="scheduleForm.controls['endDate']">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <div class="error_msg">
                    <small *ngIf="scheduleForm.errors?.['dateMismatch']">Enter a future date.</small>
                    <small *ngIf="scheduleForm.controls['startDate'].value?.toLocaleDateString() == scheduleForm.controls['endDate'].value?.toLocaleDateString()">Start
                        and end dates cannot be similar.</small>
                </div>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Departure time</mat-label>
                    <input type="time" matInput [formControl]="scheduleForm.controls['departureTime']"/>
                </mat-form-field>
                <span class="space"></span>
                <mat-form-field appearance="outline">
                    <mat-label>Arrival time</mat-label>
                    <input type="time" matInput [formControl]="scheduleForm.controls['arrivalTime']"/>
                </mat-form-field>
                <br>
                <div class="error_msg">
                    <small *ngIf="scheduleForm.controls['departureTime'].value == scheduleForm.controls['arrivalTime'].value">Departure
                        and arrival time cannot be equal.</small>
                </div>
                <br>
                <div>
                    <mat-checkbox [formControl]="dayForm.controls['monday']">Monday</mat-checkbox>
                    <mat-checkbox [formControl]="dayForm.controls['tuesday']">Tuesday</mat-checkbox>
                    <mat-checkbox [formControl]="dayForm.controls['wednesday']">Wednesday</mat-checkbox>
                    <br>
                    <mat-checkbox [formControl]="dayForm.controls['thursday']">Thursday</mat-checkbox>
                    <mat-checkbox [formControl]="dayForm.controls['friday']">Friday</mat-checkbox>
                    <mat-checkbox [formControl]="dayForm.controls['saturday']">Saturday</mat-checkbox>
                    <mat-checkbox [formControl]="dayForm.controls['sunday']">Sunday</mat-checkbox>
                </div>
                <br>
                <div class="btn-group">
                    <button mat-button type="button" class="cancelBtn" (click)="closeScheduleForm(scheduleForm.dirty)">
                        Cancel
                    </button>
                    <button mat-button type="reset" [disabled]=disableReset()>
                        Reset
                    </button>
                    <button mat-button type="submit" (click)="scheduleFlights()" [disabled]="disableSubmit()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
