<div class = 'flightForm'>
  <h3>Add new flight</h3>
  <form [formGroup]="flightForm">
    <div class="departAirport">
      <label>
        Departure Airport
      </label>
      <input id="departureAirport" type="text" formControlName="departureAirport">
      <div class="error_msg">
        <small *ngIf="flightForm.get('departureAirport')?.errors?.['pattern'] != null && flightForm.get('departureAirport')?.touched">
          Departure Airport cannot have numbers
        </small>
        <br>
        <small *ngIf="flightForm.get('departureAirport')?.errors?.['required'] && flightForm.get('departureAirport')?.touched">
          Departure Airport cannot be empty
        </small>
      </div>
    </div>

    <br>

    <div class="arrive_airport">
      <label>
        Arrival Airport
      </label>
      <input id="ArrivalAirport" type="text" formControlName="arrivalAirport">
      <div class="error_msg">
        <small *ngIf="flightForm.get('arrivalAirport')?.errors?.['pattern'] != null && flightForm.get('arrivalAirport')?.touched">
          Arrival Airport cannot have numbers
        </small>
        <small *ngIf="flightForm.get('arrivalAirport')?.errors?.['required'] && flightForm.get('arrivalAirport')?.touched">
          Arrival Airport cannot be empty
        </small>
        <br>
        <small *ngIf="flightForm.errors?.['equalDestination']  && !flightForm.get('arrivalAirport')?.untouched">
          Departure and Arrival cannot be the same
        </small>
      </div>
  </div>

    <br>
    <div class="flightNo">
      <label>
        Flight No.
      </label>
      <input id="flightNo" type="text" formControlName="flightNo">
      <div class="error_msg">
        <small *ngIf="flightForm.get('flightNo')?.errors?.['required'] && flightForm.get('flightNo')?.touched">
          Flight number should b
        </small>
        <br>
        <small *ngIf="(flightForm.get('flightNo')?.errors?.['pattern'] &&  flightForm.get('flightNo')?.errors?.['pattern'] != null && flightForm.get('flightNo')?.touched)">
          Flight number should be in the format of XXxxxx. X - Letters, x- numbers
        </small>
      </div>
    </div>

    <br>

    <div>
      <label>
        Departure date and time
      </label>
      <input id="DepartDate" type="datetime-local" formControlName="departureTime">
      <div class="error_msg">
        <small *ngIf="flightForm.get('departureTime')?.errors?.['required'] && flightForm.get('departureTime')?.touched">
          Departure_time required
        </small>
        <br>
        <small *ngIf="flightForm.errors?.['dateMismatch'] && flightForm.get('departureTime')?.touched">
          Please fill with a future date
        </small>
      </div>
    </div>

    <br>

    <div>
      <label>
        Arrival date and time
      </label>
      <input id="ArriveDate" type="datetime-local" formControlName="arrivalTime">
      <div class="error_msg">
        <small *ngIf="flightForm.get('arrivalTime')?.errors?.['required'] && flightForm.get('arrivalTime')?.touched">
          Departure_time required
        </small>
        <br>
        <small *ngIf="flightForm.errors?.['durationError'] && flightForm.get('arrivalTime')?.touched">
          Arrival date should be later than departure date
        </small>
      </div>
    </div>

    <br>

    <div class="btn-group">
      <button type="reset" (click)="close()">
        Cancel
      </button>
      <button type="button" (click)="resetRow()">
        Reset
      </button>
      <button *ngIf="this.data['row'] ==''" type="submit" (click)="onSubmit()" [disabled]="!flightForm.valid">
        Submit
      </button>
      <button  *ngIf="this.data['row'] !=''" type="submit" (click)="update()" [disabled]="!flightForm.valid">
        Update
      </button>
    </div>
  </form>
</div>
